
There are four non-static methods: method1(), method2(), method3(), method4().
Using the throws keyword, make it so that method1() and method2() throw any checked exception, and method3() and method4() throw an unchecked exception.

Requirements:
•	You need to have 4 public non-static methods in the Solution class: method1(), method2(), method3(), method4().
•	The method1() and method2() methods need to throw any checked exceptions.
•	The method3() and method4() methods need to throw any unchecked exception.

package en.codegym.task.jdk13.task16.task1605;

import java.io.FileNotFoundException;
import java.io.IOException;

/* 
Throwing exceptions
*/

public class Solution {

    public void method1() {

    }

    public void method2() {

    }

    public void method3() {

    }

    public void method4() {

    }
}
