
There is a Cat class with a String variable name.

Create a Map<String, Cat> and add 10 cats represented by (name, Cat) pairs.
Get a Set of all cats from the Map. Display the set on the screen (already implemented).

Requirements:
•	The program must not read data from the keyboard.
•	In the createMap() method, you need to create a new HashMap<String, Cat> object.
•	In the createMap() method, you need to add 10 cats to a map, represented by (name, Cat) pairs, and return the created map.
•	In the convertMapToSet(Map<String, Cat>) method, you must create and return the set of cats retrieved from the passed map.
•	The program should display all the cats in the set.

package en.codegym.task.jdk13.task09.task0927;

import java.util.*;

/* 
Ten cats
*/

public class Solution {

    public static void main(String[] args) {
        Map<String, Cat> map = createMap();
        Set<Cat> set = convertMapToSet(map);
        printCatSet(set);
    }

    public static Map<String, Cat> createMap() {
        //write your code here
    }

    public static Set<Cat> convertMapToSet(Map<String, Cat> map) {
        //write your code here
    }

    public static void printCatSet(Set<Cat> set) {
        for (Cat cat : set) {
            System.out.println(cat);
        }
    }

    public static class Cat {
        public String name;

        public Cat(String name) {
            this.name = name;
        }

        public String toString() {
            return "Cat " + this.name;
        }

        @Override
        public boolean equals(Object o) {
            if (this == o) {
                return true;
            }
            if (!(o instanceof Cat)) {
                return false;
            }
            Cat cat = (Cat) o;
            return Objects.equals(name, cat.name);
        }

        @Override
        public int hashCode() {
            return Objects.hash(name);
        }
    }
}