
Using the three created cats, hold three fights between pairs of cats.
To hold a fight, use the boolean fight(Cat anotherCat) method.

Display the result of each fight on a new line.

Requirements:
•	There should be three Cat objects in the main(String []) method.
•	You need to hold three fights.
•	The program should display the result of each fight on a new line.

package en.codegym.task.jdk13.task05.task0501;

/* 
Cat carnage (1)
*/

public class Solution {
    public static void main(String[] args) {
        Cat cat1 = new Cat("Litchi", 4, 8, 6);
        Cat cat2 = new Cat("Mango", 4, 9, 10);
        Cat cat3 = new Cat("Melon", 7, 6, 5);
        System.out.println(cat1.fight(cat2));
        System.out.println(cat2.fight(cat1));
        System.out.println(cat1.fight(cat3));
    }
    public static class Cat {
       private String name;
       private int age;
       private int weight;
       private int strength;

        public Cat(String name, int age, int weight, int strength) {
            this.name = name;
            this.age = age;
            this.weight = weight;
            this.strength = strength;
        }

        public boolean fight(Cat anotherCat) {
            int ageComparison = Integer.compare(this.age, anotherCat.age);
            int weightComparison = Integer.compare(this.weight, anotherCat.weight);
            int strengthComparison = Integer.compare(this.strength, anotherCat.strength);
            int score = ageComparison + weightComparison + strengthComparison;
            return score > 0;
        }
    }
}
