Use the keyboard to enter three numbers, and then display the middle number. In other words, not the largest and not the smallest.

If all the numbers are equal, display any one of them.

Requirements:
•	The program should read the numbers from the keyboard.
•	The program must display a number on the screen.
•	The program should display the middle number of the three numbers.
•	If all the numbers are equal, display any one of them.
•	If two of the three numbers are equal, display either of the two.

package en.codegym.task.jdk13.task04.task0441;

import java.io.BufferedReader;
import java.io.InputStreamReader;

/* 
Somewhere in the middle
*/

public class Solution {
    public static void main(String[] args) throws Exception {
        //write your code here

    }
}
