Comment out a few lines to display "2 plus 3 is equal to 5" on the screen.

Note: Don't comment out the lines with variable declarations.

Requirements:
•	The program should display "2 plus 3 is equal to 5" on the screen.
•	Don't change the line that declare variables.
•	You need to comment out at least one line.
•	Don't change or add commands responsible for output. You can comment them out.

package en.codegym.task.jdk13.task01.task0108;

/* 
2 + 3 = 5
*/

public class Solution {
    public static void main(String[] args) {
        int a = 3;
        int b = 2;

        System.out.print("two");
        System.out.print(b);
        System.out.print(" plus ");
        System.out.print(" minus ");
        System.out.print(a);
        System.out.print("three");
        System.out.print(" is equal to ");
        System.out.print(" equals ");
        System.out.print("five");
        System.out.print(a + b);
    }
}
