
Once there were five classes: red riding hood, grandmother, pie, woodcutter, and wolf.
Each class has 2 fields: ArrayList killed and ArrayList ate.
The necessary objects have been created (hood, grandmother, ...).
Arrange the relationships correctly according to who ate and/or killed who in the fairy tale "Little Red Riding Hood".
P. S. Nobody ate the pie. It was only carried in a basket. The wolf ate a little. And then he was killed.

Requirements:
•	The main method should change the state (internal variables) of the wolf object.
•	The main method should change the state (internal variables) of the woodcutter object.
•	Nobody ate the pie.
•	The wolf ate a little.
•	And then the wolf was killed.

package en.codegym.task.jdk13.task09.task0924;

import java.util.ArrayList;

/* 
A scary fairy tale
*/

public class Solution {
    public static RedRidingHood hood = new RedRidingHood();
    public static Grandmother grandmother = new Grandmother();
    public static Pie pie = new Pie();
    public static Woodcutter woodcutter = new Woodcutter();
    public static Wolf wolf = new Wolf();

    public static void main(String[] args) {
        // write your code here
    }

    // Red riding hood
    public static class RedRidingHood extends StoryItem {
    }

    // Grandmother
    public static class Grandmother extends StoryItem {
    }

    // Pie
    public static class Pie extends StoryItem {
    }

    // Woodcutter
    public static class Woodcutter extends StoryItem {
    }

    // Wolf
    public static class Wolf extends StoryItem {
    }

    public static abstract class StoryItem {
        public ArrayList<StoryItem> killed = new ArrayList<>();
        public ArrayList<StoryItem> ate = new ArrayList<>();
    }
}
