
In the handleExceptions method, handle all unchecked exceptions.
You need to use the printStack method to display the stack trace of the exception that occurs.
You can only use one try-catch block.

Requirements:
•	The handleExceptions method must call method1.
•	The handleExceptions method must call method2.
•	The handleExceptions method must call method3.
•	The handleExceptions method must use only one try-catch block.
•	The handleExceptions method should catch all unchecked exceptions and use the printStack method to display the stack trace of the exception that occurs.
•	The handleExceptions method should not catch checked exceptions.
•	The program should display text.

package en.codegym.task.jdk13.task09.task0917;

/* 
Catching unchecked exceptions
*/

public class Solution {
    public static void main(String[] args) {
        handleExceptions(new Solution());
    }

    public static void handleExceptions(Solution obj) {
        obj.method1();
        obj.method2();
        obj.method3();
    }

    public static void printStack(Throwable throwable) {
        System.out.println(throwable);
        for (StackTraceElement element : throwable.getStackTrace()) {
            System.out.println(element);
        }
    }

    public void method1() {
        throw new NullPointerException();
    }

    public void method2() {
        throw new IndexOutOfBoundsException();
    }

    public void method3() {
        throw new NumberFormatException();
    }
}

