
Change the program so that the variable age has the value 15.

Requirements:
•	Four variables must be declared.
•	The variable age must be an int.
•	All variables must be assigned a value immediately after they are declared.
•	The value assigned to the variable age must be 15.

package en.codegym.task.jdk13.task01.task0119;

/* 
I'm 15 again!
*/

public class Solution {
    public static void main(String[] args) {
        String name = "Amigo";
        int age = 2;
        int money = 500;
        int weight = 70;
    }
}
