
There are three exceptions that successively inherit Exception
The Exception1 class extends Exception
The Exception2 class extends Exception1
The Exception3 class extends Exception2
There is a method with the following signature:
public static void method1() throws Exception1, Exception2, Exception3
Write a catch block that will catch all three exceptions: Exception1, Exception2, and Exception3
Requirements:
•	The main method must call method1.
•	The main method must catch the Exception1 exception.
•	The main method must catch the Exception2 exception.
•	The main method must catch the Exception3 exception.
•	Don't change the method1 method.

package en.codegym.task.jdk13.task09.task0914;

/* 
Catching a group of exceptions
*/

public class Solution {
    public static void main(String[] args) throws Exception {
        //write your code here

        method1();

        //write your code here

    }

    public static void method1() throws Exception1, Exception2, Exception3 {
        int i = (int) (Math.random() * 3);
        if (i == 0) {
            throw new Exception1();
        } else if (i == 1) {
            throw new Exception2();
        } else if (i == 2) {
            throw new Exception3();
        }
    }
}

class Exception1 extends Exception {
}

class Exception2 extends Exception1 {
}

class Exception3 extends Exception2 {
}