
Write a public Human class, and public CanRun and CanSwim interfaces.
Add one method to each interface.
Add these interfaces to the Human class, but do not implement the methods.
Declare the Human class as abstract.

Requirements:
•	The Solution class must have a CanRun interface with only one method.
•	The Solution class must have a CanSwim interface with only one method.
•	The Solution class must have a Human class.
•	The Human class must implement the CanRun and CanSwim interfaces.
•	The Human class must be abstract.
•	The Human class should not have any methods.

package com.codegym.task.task12.task1220;

/* 
Human class and CanRun and CanSwim interfaces

*/

public class Solution {
    public static void main(String[] args) {

    }

    // Add public interfaces and a public class here
}
