Implement the static double getDistance(x1, y1, x2, y2) method. It should calculate the distance between two points.
Use the double Math.sqrt(double a) method, which calculates the square root of the passed argument.

The distance between points is calculated according to the formula:


Requirements:
•	The getDistance method must return a double.
•	The getDistance method must be static.
•	The getDistance method must be public.
•	The getDistance method must return the distance between the points.
•	The getDistance method must use the double Math.sqrt(double a) method.

package en.codegym.task.jdk13.task06.task0609;

/* 
Distance between two points
*/

public class Util {
    public static double getDistance(int x1, int y1, int x2, int y2) {
        //write your code here
    }

    public static void main(String[] args) {

    }
}