
A dog (Dog class) must have three initializers:

Name
Name, height
Name, height, color
Requirements:
•	The Dog class must have a String variable name.
•	The Dog class must have an int variable height.
•	The Dog class must have a String variable color.
•	The class must have an initialize method that takes a name as an argument and initializes the corresponding instance variable.
•	The class must have an initialize method that takes a name and height as arguments, and initializes the corresponding instance variables.
•	The class must have an initialize method that takes a name, height, and color as arguments, and initializes the corresponding instance variables.

package en.codegym.task.jdk13.task05.task0511;

/* 
Populate the Dog class
*/

public class Dog {
    //write your code here

    public static void main(String[] args) {

    }
}