Write a program that displays:
It's not a bug - it's a feature.

Requirements:
•	The program should output text.
•	The text should begin with "It's not a bug".
•	The text must end with a period.
•	The text should consist of 32 characters, including spaces and punctuation marks.
•	The displayed text must match the task conditions.

package en.codegym.task.jdk13.task01.task0106;

/* 
Bugs and features
*/

public class Solution {
    public static void main(String[] args) {
        //write your code here
    }
}
