
When a type is narrowed, part of a number might be discarded. Or it might not.
Implement the isByte, isShort, and isInt methods. They should determine whether the input argument can be respectively converted to the byte, short, and int types "without serious consequences".

Requirements:
•	The isByte method must return true if the input argument can be narrowed to a byte without loss of precision.
•	The isShort method must return true if the input argument can be narrowed to a short without loss of precision.
•	The isInt method must return true if the input argument can be narrowed to an int without loss of precision.

package en.codegym.task.jdk13.task12.task1203;

/* 
Conscious choice
*/

public class Solution {

    public static void main(String[] args) {
        System.out.println(isByte(12)); // true
        System.out.println(isShort(130999)); // false
        System.out.println(isInt(1999939990L)); // true
        System.out.println(isInt(19999999939990L)); // false
    }

    public static boolean isByte(long l) {
        return false;
    }

    public static boolean isShort(long l) {
        return false;
    }

    public static boolean isInt(long l) {
        return false;
    }
}
