
Use the keyboard to enter 2 numbers N and M.
Enter N strings and put them in a list.
Move the first M strings to the end of the list.
Display the list, each value on a new line.

Note:

all numbers and strings must be entered from the keyboard with a new line;
you must not create more than one list.
Requirements:
•	Declare a string list variable and immediately initialize it.
•	Read numbers N and M from the keyboard. Read N strings and add them to the list.
•	Move the first M strings to the end of the list.
•	Display the list, each value on a new line.

package en.codegym.task.jdk13.task07.task0720;

import java.io.BufferedReader;
import java.io.IOException;
import java.io.InputStreamReader;
import java.util.ArrayList;

/* 
Shuffled just in time
*/

public class Solution {
    public static void main(String[] args) throws IOException {
        BufferedReader reader = new BufferedReader(new InputStreamReader(System.in));

        //write your code here
    }
}
