Write a program that displays "Ellie is very smart" 5 times. Each time, on a new line.

Example output:
Ellie is very smart
Ellie is very smart
Ellie is very smart
Ellie is very smart
Ellie is very smart

Requirements:
•	The program should output text.
•	The text should begin with "Ellie".
•	The text should end with "smart".
•	The text should consist of 5 lines.
•	The displayed text must match the task conditions.


package en.codegym.task.jdk13.task01.task0102;

/* 
Kind words for the teacher
*/

public class Solution {
    public static void main(String[] args) {
        //write your code here
    }
}