
Implement the main(String[]) method, which displays the strings and ints arrays on the console using the Arrays.deepToString(Object[][]) method.

Requirements:
•	The Solution class must have a public static String[][] strings variable.
•	The Solution class must have a public static int[][] ints variable.
•	In the main(String[]) method, display the strings array on the console using the Arrays.deepToString(Object[][]) method.
•	In the main(String[]) method, display the ints array on the console using the Arrays.deepToString(Object[][]) method.

package en.codegym.task.pro.task05.task0514;

import java.util.Arrays;

/* 
Displaying two-dimensional arrays
*/

public class Solution {

    public static String[][] strings = new String[][]{{"🙂", "🙂", "🙂", "🙂"}, {"🙃", "🙃", "🙃", "🙃"}, {"😋", "😋", "😋", "😋"}, {"😎", "😎", "😎", "😎"}};
    public static int[][] ints = new int[][]{{1, 2, 3, 4}, {5, 6, 7, 8}, {9, 10, 11, 12}, {13, 14, 15, 16}};

    public static void main(String[] args) {
        //write your code here
    }
}
