
Catch the exception that occurs when the following code is executed:

int a = 42 / 0;

Display the type of exception caught.
Requirements:
•	The program should display a message on the screen.
•	The program must have a try-catch block.
•	The program must catch a specific type of exception, not all possible exceptions (i.e. not Exception).
•	The displayed message must contain the type of exception that occurred.
•	Don't delete the existing code in the main method.

package en.codegym.task.jdk13.task09.task0907;

/* 
Exception when working with numbers
*/

public class Solution {
    public static void main(String[] args) {
        //write your code here

        int a = 42 / 0;

        //write your code here
    }
}
