
Create an array of 15 integers.
Populate it with values from the keyboard.
Let the array index represent the house number. The array value at a particular index represents the number of people living in the corresponding house.
Houses with odd numbers are located on one side of the street. Those with even numbers are on the other side. Find out which side of the street has more people living on it.
Display the following message: "Odd-numbered houses have more residents." or "Even-numbered houses have more residents."
If the number of residents on each side of the street is the same, then output nothing.
Note: The house at index 0 is considered even.

Requirements:
•	The program should create an array and initialize it with new int [15] value.
•	The program should read numbers for the array from the keyboard.
•	The program should display "Odd-numbered houses have more residents." if the sum of odd array elements is greater than the sum of even ones.
•	The program should display "Even-numbered houses have more residents." if the sum of even array elements is greater than the sum of odd ones.
•	The program should not output text to the console if the number of residents on each side is the same.

package en.codegym.task.jdk13.task07.task0706;

import java.io.BufferedReader;
import java.io.IOException;
import java.io.InputStreamReader;

/* 
Street and houses
*/

public class Solution {
    public static void main(String[] args) throws IOException {
        //write your code here
    }
}
