
Figure out what the program does.
Correct the constructor with two parameters so that it calls another constructor with a radius of 10. Think about which constructor you need to call.

Hint: carefully study the implementation of the default constructor.

Requirements:
•	The class must have 3 constructors.
•	The constructor with two parameters must initialize the variables x and y to the passed values.
•	The constructor with two parameters must initialize the variable radius to a value of 10.
•	The constructor with two parameters must call another constructor, passing the correct arguments.
•	Don't change the main method.
•	Don't change the default constructor.

package en.codegym.task.jdk13.task05.task0521;

/* 
Calling a constructor from a constructor
*/

public class Circle {

    public double x;
    public double y;
    public double radius;

    public Circle(double x, double y, double radius) {
        this.x = x;
        this.y = y;
        this.radius = radius;
    }

    public Circle(double x, double y) {
        //write your code here
    }

    public Circle() {
        this(5, 5, 1);
    }

    public static void main(String[] args) {
        Circle circle = new Circle();
        System.out.println(circle.x + " " + circle.y + " " + circle.radius);
        Circle anotherCircle = new Circle(10, 5);
        System.out.println(anotherCircle.x + " " + anotherCircle.y + " " + anotherCircle.radius);
    }
}
