
Create 10 Cat variables and 8 Cat objects.

Requirements:
•	The program should not display text on the screen.
•	The main method must have 10 Cat variables.
•	In the main method, 8 variables must be initialized immediately upon creation.
•	There should be no variables in the Cat class.
•	There should be no methods in the Cat class.

package en.codegym.task.jdk13.task02.task0212;

/* 
Crazy eights
*/

public class Solution {
    public static void main(String[] args) {
        //write your code here
        Cat cat8 = new Cat();
        Cat cat9;
        //write your code here
    }

    public static class Cat {

    }
}
