
Uncomment one line so that the program displays the numbers 12 and 2 (first 12, and then 2).

Requirements:
•	The program should display the numbers 12 and 2.
•	Don't change the lines that declare variables.
•	The program must have only two int variables.
•	Don't change the lines responsible for screen output.
•	You need to uncomment one line and leave the remaining lines unchanged.
package en.codegym.task.jdk13.task01.task0107;

/* 
No comments needed
*/

public class Solution {
    public static void main(String[] args) {
        int x = 2;
        int y = 12;

        // y = x * y;
        // y = x + y;

        x = y - x;
        y = y - x;

        System.out.println(x);
        System.out.println(y);
    }
}
