
Display the following: 日本語

Requirements:
•	The program should output text.
•	The text should begin with "日".
•	The text should end with "語".
•	The text should consist of 3 symbols.
•	The displayed text must match the task conditions.

package en.codegym.task.jdk13.task03.task0317;

/* 
The way of the Samurai
*/

public class Solution {
    public static void main(String[] args) {
        //write your code here

    }
}