
In the StringHelper class, implement two static methods:

String multiply(String s, int count) - returns a string that has been repeated count times
String multiply(String s) - returns a string that has been repeated 5 times
Example:
Amigo -> AmigoAmigoAmigoAmigoAmigo

Requirements:
•	The StringHelper class's methods must return a string.
•	The StringHelper class's methods must be static.
•	The StringHelper class's methods must be public.
•	The multiply(String s, int count) method must return a string that has been repeated count times.
•	The multiply(String s) method must return a string that has been repeated 5 times.
    package en.codegym.task.jdk13.task06.task0611;
    


Controlling body weight
The program should read a weight entered by the user in kilograms and a height in meters. Then it should display a message about the user's body mass index.

Implement a static method in the Body class. The method should calculate the body mass index and display the following message:

"Underweight: BMI < 18.5" - if the body mass index is less than 18.5 (not inclusive),
"Normal: 18.5 <= BMI < 25" - if the body mass index is between 18.5 and 25 (not inclusive),
"Overweight: 25 <= BMI < 30" - if the body mass index is between 25 and 30 (not inclusive),
"Obese: BMI >= 30" - if the body mass index is 30 or more.
Hint: Body mass index (BMI) = weight in kg / (height in meters * height in meters)

Example output for 68.4 and 1.77:
Normal: 18.5 <= BMI < 25

Requirements:
•	The calculateBMI method should display text on the screen.
•	The calculateBMI method should display "Underweight: BMI < 18.5" if the body mass index is less than 18.5 (not inclusive).
•	The calculateBMI method should display "Normal: 18.5 <= BMI < 25" - if the body mass index is between 18.5 and 25 (not inclusive).
•	The calculateBMI method should display "Overweight: 25 <= BMI < 30" - if the body mass index is between 25 and 30 (not inclusive).
•	The calculateBMI method should display "Obese: BMI >= 30" if the body mass index is 30 or more.

package en.codegym.task.jdk13.task06.task0605;

import java.io.BufferedReader;
import java.io.IOException;
import java.io.InputStreamReader;

/* 
Controlling body weight
*/

public class Solution {
    public static void main(String[] args) throws IOException {
        BufferedReader bis = new BufferedReader(new InputStreamReader(System.in));
        double weight = Double.parseDouble(bis.readLine());
        double height = Double.parseDouble(bis.readLine());

        Body.calculateMassIndex(weight, height);
    }

    public static class Body {
        public static void calculateMassIndex(double weight, double height) {
            // write your code here
        }
    }
}
