
Use a for loop to display even numbers from 1 to 100 inclusive.
Display each value on a new line.

Requirements:
•	The program should not read text from the keyboard.
•	The program should display text on the screen.
•	The program should display even numbers from 1 to 100 inclusive. Display each value on a new line.
•	The program must use a for loop.

package en.codegym.task.jdk13.task04.task0435;

/* 
Even numbers
*/

public class Solution {
    public static void main(String[] args) {
        //write your code here

    }
}
