
Create a Cat object twice. Store each instance in its own variable. The variable names must be different.

Requirements:
•	The program should not display text on the screen.
•	The main method should have only two variables.
•	The variables must be immediately assigned values.
•	There should be no variables in the Cat class.
•	There should be no methods in the Cat class.

package en.codegym.task.jdk13.task02.task0208;

/* 
Cats are good
*/

public class Solution {
    public static void main(String[] args) {
        //write your code here
    }

    public static class Cat {

    }
}
