Write a function that computes the minimum of three numbers.

Hint:
You need to write the body of the existing min function.

Requirements:
•	The program should display text on the screen.
•	The min method should not display text on the screen.
•	The main method should call the min method four times.
•	The main method should display the result of the min method. Each time, on a new line.
•	The min method must return the minimum of the numbers a, b, and c.

package en.codegym.task.jdk13.task02.task0216;

/* 
Minimum of three numbers
*/

public class Solution {
    public static int min(int a, int b, int c) {
        //write your code here
    }

    public static void main(String[] args) {
        System.out.println(min(1, 2, 3));
        System.out.println(min(-1, -2, -3));
        System.out.println(min(3, 5, 3));
        System.out.println(min(5, 5, 10));
    }
}
