
Change the program to display the following text: "Coding in Java". Use variables.

Requirements:
•	Three variables must be declared.
•	All variables must be assigned a value immediately after they are declared.
•	You can't change the screen output command.
•	The program should display "Coding in Java".

package en.codegym.task.jdk13.task01.task0117;

/* 
A few more corrections
*/

public class Solution {
    public static void main(String[] args) {
        String string1 = "Coding";
        String string2 = "in";
        String string3 = "Pascal";
        System.out.println(string1 + " " + string2 + " " + string3);
    }
}
