
There are five methods that call each other. You need to make each method return the name of the method that called it. Use the stack trace to obtain this information.

Requirements:
•	There should be 5 methods in the class (in addition to the main method).
•	In each method, you need to make the following calls: call method1 in main, call method2 in method1, etc.
•	In each method, you must return the name of the method that called it.
•	To get the name of the calling method, use the getMethodName method.

package en.codegym.task.jdk13.task09.task0902;

/* 
Stack trace revisited
*/

public class Solution {
    public static void main(String[] args) {
        method1();
    }

    public static String method1() {
        method2();
        //write your code here
    }

    public static String method2() {
        method3();
        //write your code here
    }

    public static String method3() {
        method4();
        //write your code here
    }

    public static String method4() {
        method5();
        //write your code here
    }

    public static String method5() {
        //write your code here
    }
}
