
Using a loop to display the following phrase one hundred times:
"I will never work for peanuts. Amigo"

Display each value on a new line.

Requirements:
•	The program should not read text from the keyboard.
•	The program should display text on the screen.
•	The program should display the text specified in the task 100 times.
•	The program must use a for loop or a while loop.

package en.codegym.task.jdk13.task04.task0440;

/* 
Decent pay
*/

public class Solution {
    public static void main(String[] args) {
        //write your code here

    }
}
