
Display the numbers from 1 to 10 using a while loop. Each value should be on a new line.

Requirements:
•	The program should not read numbers from the keyboard.
•	The program should display numbers on the screen.
•	Each value should be displayed on a new line.
•	The program should display the numbers from 1 to 10.
•	The program must use a while loop.

package en.codegym.task.jdk13.task04.task0430;

/* 
10 numbers
*/

public class Solution {
    public static void main(String[] args) {
        //write your code here

    }
}