
Fix mistakes in the code, so that the program compiles and works correctly.

Requirements:
•	The program must compile and work correctly.
•	The program must have a public Solution class.
•	The program must have a Cat class.

package en.codegym.task.pro.task11.task1116;

/* 
Correct class
*/

class solution {
    public static void main(String[] args) {
        Cat cat = new Cat();
        System.out.println(cat.name);
    }
}

public class Cat {
    String name = "Tom";
}