Use the keyboard to enter three names, then display:
"name1" + "name2" + "name3" = Pure love. Ooo la-la!

For example:
Kevin + Eva + Angelica = Pure love. Ooo la-la!

Requirements:
•	The program should output text.
•	The program must read data from the keyboard.
•	The displayed text must contain the entered name1.
•	The displayed text must contain the entered name2.
•	The displayed text must contain the entered name3.
•	The displayed text must fully match the task conditions.

package en.codegym.task.jdk13.task03.task0322;

import java.io.BufferedReader;
import java.io.InputStreamReader;

/* 
Deep and pure love
*/

public class Solution {
    public static void main(String[] args) throws Exception {
        //write your code here

    }
}