
Make a Screen class that implements the Selectable and Updatable interfaces.
Don't forget to implement the methods!

Requirements:
•	The Screen class must implement the Selectable interface.
•	The Screen class must implement the Updatable interface.
•	The Screen class must implement all the Selectable interface's methods.
•	The Screen class must implement all the Updatable interface's methods.

package com.codegym.task.task13.task1304;

/* 
Selectable and Updatable

*/

public class Solution {
    public static void main(String[] args) throws Exception {
    }

    interface Selectable {
        void onSelect();
    }

    interface Updatable {
        void refresh();
    }

    //write your code here
}
